requests>=2.31.0
pandas>=2.0.0
python-dotenv>=1.0.0
scikit-learn>=1.3.0
joblib>=1.3.0
streamlit>=1.28.0
plotly>=5.18.0
hopsworks>=3.7.0
confluent-kafka
pyjks
tensorflow
matplotlib>=3.7.0
seaborn>=0.12.0
shap>=0.44.0